/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 31/07/2015, 05:43:03 PM
    Author     : easysoft
*/

body
{
    background-color: white;
}


#head
{
    background-color: #1976d2;
    margin: 0;
    width: 100%;
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    text-align: center;
    display: inline-block;
}

#foot
{
    background-color: #1976d2;
    color: white;
    width: 100%;
    text-align: center;
    display: inline-block;
    padding: 1em;
    margin: 0;
    position: fixed;
    bottom: 0;
    left: 0;

}


#info1{
    position: fixed;
    top: 5em;
    right: 1em;
    left: 1em;
    bottom: 5em;
    border-radius: 2em;
    //background-image: url("../css/LogoEasySoft(SinFondo).png");
    //background-repeat: no-repeat;
    //background-size: auto;
    background-color: #90caf9;
    color: black;
    width: available;

    height: auto;
    overflow-y: scroll;
    display: inline-block;
}
#info2{
    position: fixed;
    top: 5em;
    right: 1em;
    left: 1em;
    bottom: 5em;
    border-radius: 2em;
    //background-image: url("../css/LogoEasySoft(SinFondo).png");
    //background-repeat: no-repeat;
    //background-size: auto;
    background-color: #90caf9;
    color: white;
    width: available;

    height: auto;
    overflow-y: scroll;
    display: inline-block;
}

#info3{
    position: fixed;
    top: 5em;
    right: 1em;
    left: 1em;
    bottom: 5em;
    border-radius: 2em;
    //background-image: url("../css/LogoEasySoft(SinFondo).png");
    //background-repeat: no-repeat;
    //background-size: auto;
    background-color: #90caf9;
    color: BLACK;
    width: available;

    height: auto;
    overflow-y: scroll;
    display: inline-block;
}
#Err500{
    position: fixed;
    top: 8em;
    right: 1em;
    left: 1em;
    bottom: 5em;
    border-radius: 2em;
    background-color: crimson;
    color: white;
    width: available;
    height: auto;
    font-size: 18px;
    display: inline-block;
}



#menuIteminfo
{
    text-decoration: none;
    color: #fff;
    background-color: #26a69a;
    text-align: center;
    letter-spacing: .5px;
    transition: .2s ease-out;
    position: fixed;
    top: 0em;
    left: 1em;
    border-radius: 0em;
    width: 200px;
    height: 4em;
    display: inline-block;
    vertical-align: middle;

}

#menuIteminfo2
{

    text-decoration: none;
    color: #fff;
    background-color: #26a69a;
    text-align: center;
    letter-spacing: .5px;
    transition: .2s ease-out;
    position: fixed;
    top: 0em;
    left: 15em;
    border-radius: 0em;
    width: 200px;
    height: 4em;
    display: inline-block;
    vertical-align: middle;

}

#menuIteminfo3
{
    text-decoration: none;
    color: #fff;
    text-align: center; 
    transition: .2s ease-out;
    position: fixed;
    top: 0em;
    left: 90%;
    border-radius: 0em;
    width: 200px;
    height: 4em;
    display: inline-block;
    vertical-align: middle;
}

#menuIteminfo:hover
{
   box-shadow:0 5px 11px 0 rgba(0,0,0,0.18);
   background-color: #2bbbad;
}
#menuIteminfo2:hover
{  
    box-shadow:0 5px 11px 0 rgba(0,0,0,0.18);
   background-color: #2bbbad;
}#menuIteminfo3:hover
{
       box-shadow:0 5px 11px 0 rgba(0,0,0,0.18);
}

#bigone
{
    text-align: center;
    font-size: xx-large;
    color: red;
}



.button {
    border-top: 1px solid #000000;
    background: #6889ff;
    background: -webkit-gradient(linear, left top, left bottom, from(#943e9c), to(#943e9c));
    background: -webkit-linear-gradient(top, #6889ff, #6889ff);
    background: -moz-linear-gradient(top, #6889ff, #6889ff);
    background: -ms-linear-gradient(top, #6889ff, #6889ff);
    background: -o-linear-gradient(top, #6889ff, #6889ff);
    padding: 11.5px 23px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
    -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
    box-shadow: rgba(0,0,0,1) 0 1px 0;
    text-shadow: rgba(0,0,0,.4) 0 1px 0;
    color: #ffffff;
    font-size: 18px;
    font-family: Georgia, serif;
    text-decoration: none;
    vertical-align: middle;
    top: 50%;
}
.button:hover  {
    border-top-color: #6889ff;
    background: #40c4ff;
    color: #ffffff;
}




A:link {text-decoration:none;color:#ffffff;}


A:visited {text-decoration:none;color:#ffffff;}


A:active {text-decoration:none;color:#ff0000;}


A:hover {text-decoration:underline;color:#cccccc;} 

p {
    margin-left: 1.7em;

}

table
{
    alignment-adjust: central;
}